<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All chats</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>See your all chats here</h1>

    <% for(let chat of chats){ %>
        <div class="chat">
            <p><strong>From:</strong> <%= chat.from %></p>
            <h3><%= chat.message %></h3>
            <p><strong>To:</strong> <%= chat.to %></p>
            <!-- <p class="timestamp"><%= chat.created_at %></p> -->
            <p><%= chat.created_at.toString().split(" ")[4] %></p>
            <p> <%= chat.created_at.toString().split(" ").slice(0, 4).join(" ") %></p>
            <form method="get" action="/chats/<%= chat._id %>/edit">
                <button>Edit</button>
            </form>
            <form method="post" action="/chats/<%= chat._id %>/delete?_method=DELETE">
                <button>Delete</button>
            </form>
        </div>
        
    <% } %>
</body>
</html>
